version: '3.8'

services:
  mail:
    image: mailserver/docker-mailserver:latest
    container_name: mail
    hostname: mail
    domainname: midominio.local
    env_file: 
      - mailserver.env
    ports:
      - "25:25"    # SMTP
      - "587:587"  # SMTP autenticado (MSA)
      - "143:143"  # IMAP
      - "993:993"  # IMAPS
    volumes:
      - ./docker-data/mail-data:/var/mail
      - ./docker-data/mail-state:/var/mail-state
      - ./docker-data/mail-logs:/var/log/mail
      - ./config/:/tmp/docker-mailserver/
    cap_add:
      - NET_ADMIN
      - SYS_PTRACE
    restart: unless-stopped

  db:
    image: mariadb:10
    container_name: roundcube-db
    environment:
      - MYSQL_ROOT_PASSWORD=rootpassword
      - MYSQL_DATABASE=roundcube
      - MYSQL_USER=roundcube
      - MYSQL_PASSWORD=roundcubepass
    volumes:
      - ./docker-data/db:/var/lib/mysql
    restart: unless-stopped

  roundcube:
    image: roundcube/roundcubemail:latest
    container_name: roundcube
    depends_on:
      - mail
      - db
    environment:
      - ROUNDCUBEMAIL_DEFAULT_HOST=mail
      - ROUNDCUBEMAIL_SMTP_SERVER=mail
      - ROUNDCUBEMAIL_SMTP_PORT=587
      - ROUNDCUBEMAIL_DB_TYPE=mysql
      - ROUNDCUBEMAIL_DB_HOST=db
      - ROUNDCUBEMAIL_DB_USER=roundcube
      - ROUNDCUBEMAIL_DB_PASSWORD=roundcubepass
      - ROUNDCUBEMAIL_DB_NAME=roundcube
    ports:
      - "8080:80"  # Webmail: http://localhost:8080
    restart: unless-stopped

networks:
  default:
    name: mailnet
